@model IEnumerable<RestClient.Models.Person>

@{
    ViewData["Title"] = "Übersicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Personenliste</h1>

<p>
    <a asp-action="Create">Neue Person</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nachname)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.ActionLink("Bearbeiten", "Edit", new {id = item.PersonID}) |
                @Html.ActionLink("Details", "Details", new { id = item.PersonID }) |
                @Html.ActionLink("Löschen", "Delete", new { id = item.PersonID })
            </td>
        </tr>
    }
    <tr>
        <td>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        </td>
    </tr>
    </tbody>
</table>